input {
  display: block;
  margin: 5px auto;
  text-align: center;
  box-shadow: 0 0 10px #666;
  width: 240px;
  height: 30px;
  background: #f2f2f2;
}
.button {
  width: 240px;
  height: 30px;
  background-color: #000;
  color: #fff;
}
form{
  color:red;
}